# READ THE PLUG-IN DOCUMENTATION BEFORE YOU TRY ANYTHING WITH THIS!
# Text after the hash symbol is comment. Remove the hash if you want the
# plug-in to read a line.
#ines_suffix=.nes
#unif_suffix=.unf
#pasofami_prm_suffix=.prm
#pasofami_prg_suffix=.prg
#pasofami_chr_suffix=.chr
#ffe_suffix=.ffe
#fds_suffix=.fds
#fam_suffix=.fam
