# READ THE PLUG-IN DOCUMENTATION BEFORE YOU TRY ANYTHING WITH THIS!
# Text after the hash symbol is comment. Remove the hash if you want the
# plug-in to read a line.
#v64_suffix=.v64
#z64_suffix=.z64
